html {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('campus.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

body::before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000098;
    z-index: -1;
}

h1 {
    font-size: 50px;
}

.group-title {
    color: #FFDE16;
}

.create-group-btn {
    top: 230px;
    height: 60px;
    border: none;
    border-radius: 15px;
    color: #292929;
    background-color: #ffde05;
    font-size: 35px;
    outline: solid #ffde05 0;
    margin-top: 40px;
    transition: all 0.2s ease-in;
    width: 600px;
}

.create-group-btn:hover {
    background-color: #fddb00e7;
    outline: solid #fddb00e7 20px;
    color: #000000;
    cursor: pointer;
}

.main-content {
    width: 95%;
    height: 100%;
    background-color: #1f1f1fec;
    /* border-radius: 25px; */
    padding: 20px;
    border-radius: 25px;
    margin-top: 300px;
    margin-left: 20px;
    color: white;
}

/*  NAVBAR */

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1f1f1fec;
    box-shadow: 0 5px 15px 0 #00000040;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    width: 99%;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.groups {
    font-weight: bolder;
}

.umd {
    padding-left: 4px;
    color: #b11313;
    padding-right: 5px;
    font-weight: bold;
}

.navigation {
    display: flex;
    list-style-type: none;
}

.opt {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.opt:hover {
    color: #b11313;
}