<!DOCTYPE html>
<html>

<head>
    <title>My HTML Page</title>
    <link href="/css/groupChat.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="nav-container">
        <div class="name-card">
            <span class="umd">UMD</span>
            <span class="groups">GROUPS</span>
        </div>
        <ul class="navigation">
            <li class="tab"><a class="opt" href="#">Groups</a></li>
            <li class="tab"><a class="opt" href="/home">Home</a></li>
            <li class="tab"></li>
        </ul>
    </nav>

    <div class="main-content">
        <h1> <span class="group-title">WIP</span> groupChat </h1>
        <div> This page is a WIP, it will display the user login information and the group chats they are a part of. </div>
    </div>
</body>

</html>