<!DOCTYPE html>
<html>

<head>
    <title>GroupFinder</title>
    <link href="/css/welcome.css" rel="stylesheet" type="text/css">
    <script src="javascript.js" defer></script>
</head>

<body>
    <nav class="nav-container">
        <div class="name-card">
            <span class="umd">UMD</span>
            <span class="groups">GROUPS</span>
        </div>
    </nav>
    <div class="container">
        <h1>Sign In</h1>
        <form method="get" action="/home">
            <input type="text" name="uid" placeholder="UID" maxlength="9" class="login-field" required>
            <br>
            <input type="text" name="name" placeholder="Name" class="login-field" required>
            <br>
            <input type="submit" value="Continue" id="login-button">
        </form>
    </div>
</body>


</html>